@*SessionRecord*@
@model PhysicalFit.Models.CombinedViewModel
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_PhyFitness.cshtml";
}
@{
    var selectedItem = Request.QueryString["item"] ?? "無選擇的訓練項目";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/chart.js"></script>
    <script src="~/js/PsychologicalTraitChart.js"></script>
    @*<script src="~/SweetAlert2/sweetalert.min.js"></script>
        <script src="~/SweetAlert2/sweetalert2.all.min.js"></script>
        <script src="~/SweetAlert2/sweetalert2@11.js"></script>*@
</head>
<body>
    <div>
        <div>
            <div class="row align-items-center">
                <!-- 左侧信息 -->
                <div class="col-md-8 d-flex">
                    <div class="coach-student-info d-flex">
                        @if (Model.TrainingRecord.TrainingItem == "射箭訓練衝量" && Model.TrainingRecord.ArcheryRecords != null && Model.TrainingRecord.ArcheryRecords.Any())
                        {
                            var coach = Model.TrainingRecord.ArcheryRecords.FirstOrDefault()?.Coach;
                            var athlete = Model.TrainingRecord.ArcheryRecords.FirstOrDefault()?.Athlete;

                            <span class="me-4"><strong>教練：</strong>@coach</span>
                            <span class="me-4"><strong>學生：</strong>@athlete</span>
                        }
                        else if (Model.TrainingRecord.TrainingItem == "射擊訓練衝量" && Model.TrainingRecord.ShootingRecords != null && Model.TrainingRecord.ShootingRecords.Any())
                        {
                            var coach = Model.TrainingRecord.ShootingRecords.FirstOrDefault()?.Coach;
                            var athlete = Model.TrainingRecord.ShootingRecords.FirstOrDefault()?.Athlete;

                            <span class="me-4"><strong>教練：</strong>@coach</span>
                            <span class="me-4"><strong>學生：</strong>@athlete</span>
                        }
                        else if (Model.TrainingRecord.TrainingItem == "一般訓練衝量監控 (session-RPE)" && Model.TrainingRecord.RPERecords != null && Model.TrainingRecord.RPERecords.Any())
                        {
                            var coach = Model.TrainingRecord.ShootingRecords.FirstOrDefault()?.Coach;
                            var athlete = Model.TrainingRecord.ShootingRecords.FirstOrDefault()?.Athlete;

                            <span class="me-4"><strong>教練：</strong>@coach</span>
                            <span class="me-4"><strong>學生：</strong>@athlete</span>
                        }
                    </div>
                </div>

                <!-- 右侧日期选择框 -->
                <div class="col-md-4 text-end">
                    <div class="form-group">
                        <label for="TrainingDate">選擇日期</label>
                        <input type="date" class="form-control" id="TrainingDate" style="width: auto; max-width: 120px;" />
                    </div>
                </div>
            </div>
        </div>


        <div class="resultTable" id="sessionRPEresult">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3>session RPE指標計算結果: <span id="selectedItem" style="font-size: 24px; text-decoration: underline;">@Html.Encode(selectedItem)</span></h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="每週運動訓練量為每週(通常是7 天)所有的運動訓練量之加總">每週運動訓練量</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="WeeklyResult" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="一週內每日訓練的一致性，其計算方式為當週運動訓練量的日平均(mean load)除以當週TL的標準差(standard deviation)">訓練同質性</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="TrainingHomogeneity" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="整週訓練的整體壓力，計算方式為當週TL乘上當週TM">訓練張力值</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="TensionValue" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="當週與上一週之運動訓練量的絕對差異值">週間訓練變化</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="WeeklyTrainingChanges" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="ACWR，當週TL(acuteworkload) 除以過往連續四週TL平均值(chroni cworkload)所得之數值">短期：長期訓練量比值</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="ShortLongRatio" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><br />

        <table class="table">
            <thead>
                <tr>
                    <th>訓練日期</th>
                    @if (Model.TrainingRecord.TrainingItem == "一般訓練衝量監控 (session-RPE)")
                    {
                        <th>運動種類</th>
                        <th>訓練動作</th>
                        <th>訓練時間</th>
                        <th>自覺費力程度</th>
                        <th>單次運動負荷量</th>
                    }
                    else if (Model.TrainingRecord.TrainingItem == "射箭訓練衝量")
                    {
                        <th>磅數</th>
                        <th>箭數</th>
                        <th>自覺費力程度</th>
                        <th>單次運動負荷</th>
                    }
                    else if (Model.TrainingRecord.TrainingItem == "射擊訓練衝量")
                    {
                        <th>射擊工具</th>
                        <th>子彈數</th>
                        <th>自覺費力程度</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.TrainingRecord.TrainingItem == "一般訓練衝量監控 (session-RPE)")
                {
                    foreach (var record in Model.TrainingRecord.RPERecords)
                    {
                        <tr>
                            <td>@record.TrainingDate.ToString("yyyy-MM-dd")</td>
                            <td>@record.TrainingItem</td>
                            <td>@record.ActionName</td>
                            <td>@record.TrainingTime</td>
                            <td>@record.RPEscore</td>
                            <td>@record.EachTrainingLoad</td>
                        </tr>
                    }
                }
                else if (Model.TrainingRecord.TrainingItem == "射箭訓練衝量")
                {
                    foreach (var record in Model.TrainingRecord.ArcheryRecords)
                    {
                        <tr>
                            <td>@record.TrainingDate.ToString("yyyy-MM-dd")</td>
                            <td>@record.Poundage</td>
                            <td>@record.ArrowCount</td>
                            <td>@record.RPEscore</td>
                            <td>@record.EachTrainingLoad</td>
                        </tr>
                    }
                }
                else if (Model.TrainingRecord.TrainingItem == "射擊訓練衝量")
                {
                    foreach (var record in Model.TrainingRecord.ShootingRecords)
                    {
                        <tr>
                            <td>@record.TrainingDate.ToString("yyyy-MM-dd")</td>
                            <td>@record.ShootingTool</td>
                            <td>@record.BulletCount</td>
                            <td>@record.RPEscore</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
    <!-- 顯示食慾感受分數的折線圖 -->
    <div>
        <input type="hidden" id="psychologicalDataExists" value="@((Model.PsychologicalRecord != null && Model.PsychologicalRecord.Dates.Any()) ? "true" : "false")" />
        <input type="hidden" id="psychologicalDates" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.Dates))' />
        <input type="hidden" id="psychologicalSleepQualityScores" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.SleepQualityScores))' />
        <input type="hidden" id="psychologicalFatigueScores" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.FatigueScores))' />
        <input type="hidden" id="psychologicalTrainingWillingnessScores" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.TrainingWillingnessScores))' />
        <input type="hidden" id="psychologicalAppetiteScores" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.AppetiteScores))' />
        <input type="hidden" id="psychologicalCompetitionWillingnessScores" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.CompetitionWillingnessScores))' />
        <hr />
        <div>
            <h4>睡眠品質</h4>
            <canvas id="sleepQualityChart" width="200" height="20"></canvas>
        </div>
        <div>
            <h4>疲憊程度</h4>
            <canvas id="fatigueChart" width="200" height="20"></canvas>
        </div>
        <div>
            <h4>訓練意願</h4>
            <canvas id="trainingWillingnessChart" width="200" height="20"></canvas>
        </div>
        <div>
            <h4>胃口</h4>
            <canvas id="appetiteChart" width="200" height="20"></canvas>
        </div>
        <div>
            <h4>比賽意願</h4>
            <canvas id="competitionWillingnessChart" width="200" height="20"></canvas>
        </div>
    </div>
    <a href="/PhyFit/dashboard" class="btn btn-outline-primary">返回檢測頁</a>

    <script>
   document.getElementById("TrainingDate").addEventListener("change", function () {
    var selectedDate = this.value;
      var trainingType = '@ViewBag.SelectedTrainingItem'; // 使用 ViewBag.SelectedTrainingItem 獲取所選的訓練項目

       var urlParams = new URLSearchParams(window.location.search);
       var selectedItem = urlParams.get('item');

       if (selectedItem) {
           document.getElementById('selectedItem').textContent = selectedItem;
       } else {
           document.getElementById('selectedItem').textContent = '無選擇的訓練項目';
       }

    if (selectedDate && trainingType !== "請選擇訓練項目") {  // 確保日期和訓練類型都選擇
        $.ajax({
            url: '/Record/CalculateTrainingLoad',
            type: 'GET',
            data: {
                date: selectedDate,
                trainingType: trainingType, // 使用選擇的訓練類型
                isAthlete: true
            },
            success: function (data) {
                if (data.error) {
                    Swal.fire({
                        icon: 'error',
                        title: '計算出現錯誤',
                        text: data.error,
                    });
                } else {
                    // 更新 UI 顯示結果
                    $('#WeeklyResult').val(data.WeeklyTrainingLoadSum);
                    $('#TrainingHomogeneity').val(data.TrainingMonotony);
                    $('#TensionValue').val(data.TrainingStrain);
                    $('#WeeklyTrainingChanges').val(data.WeekToWeekChange);
                    $('#ShortLongRatio').val(data.ACWR);
                }
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: '計算失敗',
                    text: '請確認後再試。',
                });
            }
        });
    } else {
        Swal.fire({
            icon: 'warning',
            title: '無效的輸入',
            text: '請選擇有效的訓練項目和日期',
        });
    }
});
    </script>
</body>
</html>