@model PhysicalFit.Models.CombinedViewModel
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_PhyFitness.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/chart.js"></script>
    <script src="~/js/PsychologicalTraitChart.js"></script>
</head>
<body>
    <div>
        <div class="form-group" style="max-width: 300px; margin-left: 0; margin-bottom: 20px;">
            <label for="TrainingDate">選擇日期</label>
            <input type="date" class="form-control" id="TrainingDate" style="width: 100%;" />
        </div>
        <div class="resultTable" id="sessionRPEresult">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3>session RPE指標計算結果: <span id="selectedItem" style="font-size: 24px; text-decoration: underline;"></span></h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="每週運動訓練量為每週(通常是7 天)所有的運動訓練量之加總">每週運動訓練量</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="WeeklyResult" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="一週內每日訓練的一致性，其計算方式為當週運動訓練量的日平均(mean load)除以當週TL的標準差(standard deviation)">訓練同質性</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="TrainingHomogeneity" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="整週訓練的整體壓力，計算方式為當週TL乘上當週TM">訓練張力值</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="TensionValue" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="當週與上一週之運動訓練量的絕對差異值">週間訓練變化</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="WeeklyTrainingChanges" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="ACWR，當週TL(acuteworkload) 除以過往連續四週TL平均值(chroni cworkload)所得之數值">短期：長期訓練量比值</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="ShortLongRatio" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><br />

        @*<h2>訓練紀錄: @Model.TrainingItem</h2>*@
        <table class="table">
            <thead>
                <tr>
                    <th>訓練日期</th>
                    @if (Model.TrainingRecord.TrainingItem == "一般訓練衝量監控 (session-RPE)")
                    {
                        <th>運動員</th>
                        <th>運動種類</th>
                        <th>訓練動作</th>
                        <th>訓練時間</th>
                        <th>自覺費力程度</th>
                        <th>單次運動負荷量</th>
                    }
                    else if (Model.TrainingRecord.TrainingItem == "射箭訓練衝量")
                    {
                        <th>教練</th>
                        <th>學生</th>
                        <th>磅數</th>
                        <th>箭數</th>
                        <th>自覺費力程度</th>
                        <th>單次運動負荷</th>
                    }
                    else if (Model.TrainingRecord.TrainingItem == "射擊訓練衝量")
                    {
                        <th>教練</th>
                        <th>學生</th>
                        <th>射擊工具</th>
                        <th>子彈數</th>
                        <th>自覺費力程度</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.TrainingRecord.TrainingItem == "一般訓練衝量監控 (session-RPE)")
                {
                    foreach (var record in Model.TrainingRecord.RPERecords)
                    {
                        <tr>
                            <td>@record.TrainingDate.ToString("yyyy-MM-dd")</td>
                            <td>@record.AthleteName</td>
                            <td>@record.TrainingItem</td>
                            <td>@record.ActionName</td>
                            <td>@record.TrainingTime</td>
                            <td>@record.RPEscore</td>
                            <td>@record.EachTrainingLoad</td>
                        </tr>
                    }
                }
                else if (Model.TrainingRecord.TrainingItem == "射箭訓練衝量")
                {
                    foreach (var record in Model.TrainingRecord.ArcheryRecords)
                    {
                        <tr>
                            <td>@record.TrainingDate.ToString("yyyy-MM-dd")</td>
                            <td>@record.Coach</td>
                            <td>@record.Athlete</td>
                            <td>@record.Poundage</td>
                            <td>@record.ArrowCount</td>
                            <td>@record.RPEscore</td>
                            <td>@record.EachTrainingLoad</td>
                        </tr>
                    }
                }
                else if (Model.TrainingRecord.TrainingItem == "射擊訓練衝量")
                {
                    foreach (var record in Model.TrainingRecord.ShootingRecords)
                    {
                        <tr>
                            <td>@record.TrainingDate.ToString("yyyy-MM-dd")</td>
                            <td>@record.Coach</td>
                            <td>@record.Athlete</td>
                            <td>@record.ShootingTool</td>
                            <td>@record.BulletCount</td>
                            <td>@record.RPEscore</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- 顯示食慾感受分數的折線圖 -->
    <div>
        <input type="hidden" id="psychologicalDataExists" value="@((Model.PsychologicalRecord != null && Model.PsychologicalRecord.Dates.Any()) ? "true" : "false")" />
        <input type="hidden" id="psychologicalDates" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.Dates))' />
        <input type="hidden" id="psychologicalSleepQualityScores" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.SleepQualityScores))' />
        <input type="hidden" id="psychologicalFatigueScores" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.FatigueScores))' />
        <input type="hidden" id="psychologicalTrainingWillingnessScores" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.TrainingWillingnessScores))' />
        <input type="hidden" id="psychologicalAppetiteScores" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.AppetiteScores))' />
        <input type="hidden" id="psychologicalCompetitionWillingnessScores" value='@Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.CompetitionWillingnessScores))' />
        <hr />
        <div>
            <h4>睡眠品質</h4>
            <canvas id="sleepQualityChart" width="200" height="20"></canvas>
        </div>
        <div>
            <h4>疲憊程度</h4>
            <canvas id="fatigueChart" width="200" height="20"></canvas>
        </div>
        <div>
            <h4>訓練意願</h4>
            <canvas id="trainingWillingnessChart" width="200" height="20"></canvas>
        </div>
        <div>
            <h4>胃口</h4>
            <canvas id="appetiteChart" width="200" height="20"></canvas>
        </div>
        <div>
            <h4>比賽意願</h4>
            <canvas id="competitionWillingnessChart" width="200" height="20"></canvas>
        </div>
    </div>
    <a href="/PhyFit/dashboard" class="btn btn-outline-primary">返回檢測頁</a>
</body>
</html>