@model PhysicalFit.Models.CombinedViewModel
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_PhyFitness.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div>
        <div class="form-group" style="max-width: 300px; margin-left: 0; margin-bottom: 20px;">
            <label for="TrainingDate">選擇日期</label>
            <input type="date" class="form-control" id="TrainingDate" style="width: 100%;" />
        </div>
        <div class="resultTable" id="sessionRPEresult">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3>session RPE指標計算結果: <span id="selectedItem" style="font-size: 24px; text-decoration: underline;"></span></h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="每週運動訓練量為每週(通常是7 天)所有的運動訓練量之加總">每週運動訓練量</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="WeeklyResult" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="一週內每日訓練的一致性，其計算方式為當週運動訓練量的日平均(mean load)除以當週TL的標準差(standard deviation)">訓練同質性</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="TrainingHomogeneity" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="整週訓練的整體壓力，計算方式為當週TL乘上當週TM">訓練張力值</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="TensionValue" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="當週與上一週之運動訓練量的絕對差異值">週間訓練變化</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="WeeklyTrainingChanges" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="ACWR，當週TL(acuteworkload) 除以過往連續四週TL平均值(chroni cworkload)所得之數值">短期：長期訓練量比值</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="ShortLongRatio" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><br />
        @*<h2>訓練紀錄: @Model.TrainingItem</h2>*@
        <table class="table">
            <thead>
                <tr>
                    <th>訓練日期</th>
                    @if (Model.TrainingRecord.TrainingItem == "一般訓練衝量監控 (session-RPE)")
                    {
                        <th>運動員</th>
                        <th>運動種類</th>
                        <th>訓練動作</th>
                        <th>訓練時間</th>
                        <th>自覺費力程度</th>
                        <th>單次運動負荷量</th>
                    }
                    else if (Model.TrainingRecord.TrainingItem == "射箭訓練衝量")
                    {
                        <th>教練</th>
                        <th>學生</th>
                        <th>磅數</th>
                        <th>箭數</th>
                        <th>自覺費力程度</th>
                        <th>單次運動負荷</th>
                    }
                    else if (Model.TrainingRecord.TrainingItem == "射擊訓練衝量")
                    {
                        <th>教練</th>
                        <th>學生</th>
                        <th>射擊工具</th>
                        <th>子彈數</th>
                        <th>自覺費力程度</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.TrainingRecord.TrainingItem == "一般訓練衝量監控 (session-RPE)")
                {
                    foreach (var record in Model.TrainingRecord.RPERecords)
                    {
                        <tr>
                            <td>@record.TrainingDate.ToString("yyyy-MM-dd")</td>
                            <td>@record.AthleteName</td>
                            <td>@record.TrainingItem</td>
                            <td>@record.ActionName</td>
                            <td>@record.TrainingTime</td>
                            <td>@record.RPEscore</td>
                            <td>@record.EachTrainingLoad</td>
                        </tr>
                    }
                }
                else if (Model.TrainingRecord.TrainingItem == "射箭訓練衝量")
                {
                    foreach (var record in Model.TrainingRecord.ArcheryRecords)
                    {
                        <tr>
                            <td>@record.TrainingDate.ToString("yyyy-MM-dd")</td>
                            <td>@record.Coach</td>
                            <td>@record.Athlete</td>
                            <td>@record.Poundage</td>
                            <td>@record.ArrowCount</td>
                            <td>@record.RPEscore</td>
                            <td>@record.EachTrainingLoad</td>
                        </tr>
                    }
                }
                else if (Model.TrainingRecord.TrainingItem == "射擊訓練衝量")
                {
                    foreach (var record in Model.TrainingRecord.ShootingRecords)
                    {
                        <tr>
                            <td>@record.TrainingDate.ToString("yyyy-MM-dd")</td>
                            <td>@record.Coach</td>
                            <td>@record.Athlete</td>
                            <td>@record.ShootingTool</td>
                            <td>@record.BulletCount</td>
                            <td>@record.RPEscore</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <a href="/PhyFit/dashboard" class="btn btn-outline-primary">返回檢測頁</a>
    </div>
    <div>
        <h3>心理特質狀態與食慾感受趨勢圖</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>心理特質狀態</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.PsychologicalRecord.Dates.Count; i++)
                {
                    <tr>
                        <td>@Model.PsychologicalRecord.Dates[i]</td>
                        <td>@Model.PsychologicalRecord.TraitsStatuses[i]</td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- 顯示食慾感受分數的折線圖 -->
        <div>
            <canvas id="appetiteChart" width="400" height="200"></canvas>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('appetiteChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: @Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.Dates)), // 日期作為 x 軸
                    datasets: [{
                        label: '食慾感受分數',
                        data: @Html.Raw(JsonConvert.SerializeObject(Model.PsychologicalRecord.AppetiteScores)), // 食慾感受分數作為 y 軸
                        borderColor: 'rgba(153, 102, 255, 1)',
                        fill: false
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: { title: { display: true, text: '日期' } },
                        y: { title: { display: true, text: '分數' }, min: 0, max: 10 }
                    }
                }
            });
        });
    </script>
</body>
</html>