@{
    var rpeList = ViewBag.RPEScore as IEnumerable<dynamic>;
}
<div>
    <div>
        <label>請選擇您的自覺分數：</label>
        <table>
            <thead>
                <tr>
                    <th>強度區分</th>
                    <th>說明</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rpe in rpeList)
                {
                    <tr>
                        <td class="rpe-item color-block"
                            data-score="@rpe.Score"
                            data-explanation="@rpe.Explanation"
                            data-description="@rpe.Description"
                            style="background-color: @GetColorForScore(rpe.Score);"
                            title="@rpe.Explanation">
                            @rpe.Description
                        </td>
                        <td class="rpe-item color-block"
                            data-score="@rpe.Score"
                            data-explanation="@rpe.Explanation"
                            data-description="@rpe.Description"
                            style="background-color: @GetColorForScore(rpe.Score);">
                            @rpe.Explanation
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @functions {
        // 根據 RPE 分數返回顏色
        private string GetColorForScore(int score)
        {
            string color;

            switch (score)
            {
                case 0:
                    color = "#E8FFF5";
                    break;
                case 1:
                    color = "#BBFFFF";
                    break;
                case 2:
                    color = "#00E3E3";
                    break;
                case 3:
                    color = "#02F78E";
                    break;
                case 4:
                    color = "#009100";
                    break;
                case 5:
                    color = "#FFF0AC";
                    break;
                case 6:
                    color = "#FFE66F";
                    break;
                case 7:
                    color = "#FFD306";
                    break;
                case 8:
                    color = "#FF9797";
                    break;
                case 9:
                    color = "#FF5151";
                    break;
                case 10:
                    color = "#CE0000";
                    break;
                default:
                    color = "white"; // 預設顏色
                    break;
            }

            return color;
        }
    }
</div>