@{
    Layout = "~/Views/Shared/_PhyFitness.cshtml";
    var rpeList = ViewBag.RPEScore as IEnumerable<dynamic>;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
    <link href="~/css/dashboardStyle.css" rel="stylesheet" />
    <script src="~/js/SessionMonitoring.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/RPE_Modal.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/TLCaculate.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/DistanceSys.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/SaveGeneralRecord.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/SaveArcheryRecord.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/SaveShootingRecord.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/SaveDetecTrackRecord.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/SaveDetecTreadmillRecord.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/SaveDetecSwimmingRecord.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/SaveDetecBikeRecord.js?v=@DateTime.Now.Ticks"></script> 
    <script src="~/js/SaveDetecRollerSkatingRecord.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/datepickr.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/psychologicalTraits.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/sessionRecordRedirect.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/DectecRollerHide.js?v=@DateTime.Now.Ticks"></script>
</head>
<body style="padding: 20px;">
    <div>
        <form action="/Record/SessionRecord" method="post" id="generalTrainingForm">
            <input type="hidden" id="athleteId" value="@ViewBag.AthleteID" />
            <div style="display: flex; align-items: center; gap: 20px; flex-wrap: wrap;">
                <div style="margin-bottom: 20px; flex: 1;">
                    <label for="Item">訓練監控項目：</label>
                    <select id="Item" name="TrainingItem" style="border: 2px solid #000;" onchange="toggleButtonVisibility()">
                        <option>請選擇訓練項目</option>
                        @foreach (var item in ViewBag.MonitoringItems)
                        {
                            <option>@item</option>
                        }
                    </select>
                </div>

                <div id="identityCoach" style="display: flex; align-items: center; flex: 1;">
                    <label>教練：<span id="CoachName">@ViewBag.CoachName</span></label>
                    <input type="hidden" id="CoachID" value="@ViewBag.CoachID" />
                </div>
                <div id="identity_Athletes" style="display: flex; align-items: center; flex: 1;">
                    <label for="AthletesName">運動員：</label>
                    @if (ViewBag.UserRole == "Athlete")
                    {
                        <span>@ViewBag.AthleteName</span>
                        <input type="hidden" name="AthleteID" value="@ViewBag.AthleteID" />
                    }
                    else if (ViewBag.UserRole == "Coach")
                    {
                        <select id="AthletesID" name="AthleteID">
                            <option value="">請選擇</option>
                            @if (ViewBag.Athletes != null)
                            {
                                foreach (var athlete in ViewBag.Athletes)
                                {
                                    <option value="@athlete.ID">@athlete.AthleteName</option>
                                }
                            }
                        </select>
                    }
                    <input type="hidden" id="athleteName" value="@ViewBag.AthleteName" />
                    <input type="hidden" id="userRole" value="@ViewBag.UserRole" />
                </div>
            </div>
            <div class="content" id="trainingMonitoring">
                <input type="hidden" name="trainingType" value="RPE" />
                <h2>一般訓練衝量監控</h2>
                @Html.Partial("_SpecialTechnical")
                <table id="trainingMonitoringTable">
                    <thead id="tableHeaders">
                    </thead>
                    <tbody id="trainingRows">
                    </tbody>
                </table>
                <div style="margin-top: 20px;">
                    <button id="btn_calculate" class="btn btn-info" title="計算">計算</button>
                    <div id="RPEModalTraining" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id="RPEsurveyContent">
                                @Html.Partial("_RPESurvey")
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" id="btn-TrainingMonitoring" title="存檔">存檔</button>
                    <div id="recordModalGeneral" class="modal">
                        <div class="modal-content">
                            <span class="close" id="closeRecordModal">&times;</span>
                            <div id="recordModalBody"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content" id="PsychologicalTraitsArea">
                <input type="hidden" name="trainingType" value="RPE" />
                <h2>心理特質和食慾感受</h2>
                @Html.Partial("_PsychologicalTraits")
                <table id="PsychologicalTraitsTable">
                    <thead id="tableHeaders">
                    </thead>
                    <tbody id="trainingRows">
                    </tbody>
                </table>
            </div>

            <div class="content" id="archeryMonitoring">
                <h2>射箭訓練衝量監控</h2>
                <input type="hidden" name="trainingType" value="Archery" />
                <table id="archeryMonitoringTable">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>磅數</th>
                            <th>箭數</th>
                            <th>自覺費力程度</th>
                            <th>每次運動負荷(TL)</th>
                            <th>增減欄位</th>
                        </tr>
                    </thead>
                    <tbody id="ArcherytrainingRows">
                        <tr class="Archerytraining-group">
                            <td>
                                <input class="archeryDate form-control" name="archeryDate" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="Pounds" placeholder="磅數">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="Arrows" placeholder="箭數">
                            </td>
                            <td>
                                <input type="text" class="form-control rpeInput" name="RPE_ArcheryDescription" readonly />
                                <input type="hidden" name="RPEArchery" />
                                <button type="button" class="btn btn-info openRPEModalArchery">運動自覺量表</button>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="SessionArcheryTL" placeholder="單次運動負荷(TL)" readonly>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary add-row-archery">+</button>
                                <button type="button" class="btn btn-danger remove-row-archery">-</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="margin-top: 20px;">
                    <button id="btn_calculate_archery" class="btn btn-info" title="計算">計算</button>
                    <div id="RPEModalArchery" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id="RPEsurveyContent">
                                @Html.Partial("_RPESurvey")
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" id="btn-archeryMonitoring" title="存檔">存檔</button>
                </div>
            </div>

            <div class="content" id="shootingMonitoring">
                <h2>射擊訓練衝量監控</h2>
                <input type="hidden" name="trainingType" value="Shooting" />
                <table id="shootingMonitoringTable">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>項目</th>
                            <th>子彈數</th>
                            <th>自覺費力程度</th>
                            <th>每次運動負荷(TL)</th>
                            <th>增減欄位</th>
                        </tr>
                    </thead>
                    <tbody id="ShootingtrainingRows">
                        <tr class="Shootingtraining-group">
                            <td>
                                <input class="shootingDate form-control" name="shootingDate" />
                            </td>
                            <td>
                                <select class="form-control" name="GunsItem">
                                    <option>請選擇項目</option>
                                    @foreach (var gun in ViewBag.GunItem)
                                    {
                                        <option value="@gun">@gun</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="Bullet" placeholder="子彈數">
                            </td>
                            <td>
                                <input type="text" class="form-control rpeInput" name="RPE_shootingDescription" readonly />
                                <input type="hidden" name="RPEshooting" />
                                <button type="button" class="btn btn-info openRPEModalShooting">運動自覺量表</button>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="SessionShootingTL" placeholder="單次運動負荷(TL)" readonly>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary add-row-shooting">+</button>
                                <button type="button" class="btn btn-danger remove-row-shooting">-</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="margin-top: 20px;">
                    <button id="btn_calculate_shooting" class="btn btn-info" title="計算">計算</button>
                    <div id="RPEModalShooting" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id="RPEsurveyContent">
                                @Html.Partial("_RPESurvey")
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" id="btn-shootingMonitoring" title="存檔">存檔</button>
                </div>
            </div>
            <input type="hidden" name="TrainingItem" id="TrainingItem" value="" />
            <a href="/Record/SessionRecord" class="btn btn-outline-primary" style="display: none;" id="recordCheck">查看紀錄</a>
            <div class="training-section" id="Detection_Sys">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h2>檢測系統訓練詳情:<span id="selectedSportItem" style="font-size:1.75rem; text-decoration:underline"></span></h2>
                        </div>
                        <div class="card-body">

                            <div class="form-group detect">
                                <label>日期：</label>
                                <input id="DetectionDateTime" class="form-control" />
                            </div>
                            <div class="form-group detect">
                                <label for="Dete">項目：</label>
                                <select class="form-control" id="Dete">
                                    <option>有/無氧代謝能力測定</option>
                                </select>
                            </div>
                            <div class="form-group detect">
                                <label for="DeteItem">運動項目：</label>
                                <select class="form-control" id="DeteItem">
                                    <option value="">請選擇運動項目</option>
                                    @foreach (var SI in ViewBag.DetectionSport)
                                    {
                                        <option>@SI</option>
                                    }
                                </select>
                            </div>
                            <hr />
                            <div class="result-section">
                                <label for="Result">檢測結果：</label>
                                <div class="mb-3">
                                    <label for="CriticalSpeed" style="font-size: 20px; display: block;" title="代表無氧臨界閾值(有氧代謝能力)，和耐力運動表現高相關">臨界速度(km/h)_有氧能力</label>
                                    <input type="text" class="form-control form-control-sm" id="CriticalSpeed" value="" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="AnaerobicPower" style="font-size: 20px; display: block;" title="代表最大無氧能力">最大無氧做功(m)_無氧能力</label>
                                    <input type="text" class="form-control form-control-sm" id="AnaerobicPower" value="" readonly>
                                </div>
                                <div class="mb-3" id="RollerSkillSection" style="display: none;">
                                    <label for="RollerSkill" style="font-size: 20px; display: block;">滑溜技術(%)</label>
                                    <input type="text" class="form-control form-control-sm" id="RollerSkill" value="" readonly>
                                </div>
                            </div>

                            @*<div class="Criticaltraining-volume-section">
                            <label for="TrainingVol" style="font-size: 20px;">前次訓練效果_有氧能力</label>
                            <input type="text" class="form-control" id="CriticalTrainingVol" placeholder="">
                        </div>
                        <div class="Anaerobictraining-volume-section">
                            <label for="TrainingVol" style="font-size: 20px;">前次訓練效果_無氧能力</label>
                            <input type="text" class="form-control" id="AnaerobicTrainingVol" placeholder="">
                        </div>
                        <input type="hidden" id="CriticalSpeed" name="criticalSpeed" />
                        <input type="hidden" id="AnaerobicPower" name="anaerobicPower" />*@

                        </div>
                    </div>
                    <div style="margin-top:50px;">
                        <button class="btn btn-success" name="btn_Detec" id="btn_Detec">存檔</button>
                        <a href="/Record/SessionRecord" class="btn btn-outline-primary" id="DecCheck">查看檢測訓練紀錄</a>
                    </div>
                </div>
                <div id="distanceDetails" style="margin-top: -550px;"></div>
            </div>
        </form>
    </div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/Account/Login'
        }).done(function (response) {
            var userRole = response.userRole;
        }).fail(function (xhr, status, error) {
            console.error('獲取用戶角色失敗：', error);
        });
    });

    function updateTechnicalActions(selectElement) {
        const selectedTechnical = selectElement.value;
        const actionDropdown = selectElement.closest('tr').querySelector('[name="SpecialTechName"]');

        $.ajax({
            url: '@Url.Action("GetSpecialTechnicalActions", "PhyFit")',
            type: 'GET',
            data: { technicalItem: selectedTechnical }
        }).done(function (data) {
            actionDropdown.innerHTML = '';

            const defaultOption = document.createElement("option");
            defaultOption.text = "請選擇動作名稱";
            actionDropdown.add(defaultOption);

            data.forEach(function (item) {
                const option = document.createElement("option");
                option.value = item;
                option.text = item;
                actionDropdown.add(option);
            });
        }).fail(function () {
            alert('請稍後再試。');
        });
    }

    function checkDateInput(dateInput) {
        if (!dateInput || !dateInput.value) {
            Swal.fire({
                icon: 'warning',
                title: '請先選擇日期',
                text: '計算前請選擇日期，否則無法進行計算。',
                confirmButtonText: '了解'
            });
            return false;
        }
        return true;
    }

    function switchToDetectionSystem() {
        document.getElementById('Detection_Sys').style.display = "block";
        document.getElementById('trainingMonitoring').style.display = "none";
        toggleButtonVisibility();

        const selectedSport = document.getElementById('Item').value;
        document.getElementById('selectedSportItem').textContent = selectedSport !== "請選擇訓練項目" ? selectedSport : "";

        const detectionItem = document.getElementById('DeteItem');
        if (detectionItem) {
            detectionItem.style.display = "block";
        }
    }

    function toggleButtonVisibility() {
        const selectElement = document.getElementById('Item');
        const recordbutton = document.getElementById('recordCheck');
        const detectionSection = document.getElementById('Detection_Sys');
        const psyArea = document.getElementById('PsychologicalTraitsArea');

        if (selectElement.value === "檢測系統") {
            recordbutton.style.display = "none";
            psyArea.style.display = "none";
            detectionSection.style.display = "block";
        } else if (selectElement.value === "心理特質與食慾圖量表") {
            recordbutton.style.display = "inline-block";
            psyArea.style.display = "block";
            detectionSection.style.display = "none";
        } else if (selectElement.value !== "請選擇訓練項目") {
            recordbutton.style.display = "inline-block";
            psyArea.style.display = "none";
            detectionSection.style.display = "none";
        } else {
            recordbutton.style.display = "none";
            psyArea.style.display = "none";
            detectionSection.style.display = "none";
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        var recordCheckButton = document.getElementById("recordCheck");
        var detectionCheckButton = document.getElementById("DecCheck");

        if (recordCheckButton) {
            recordCheckButton.addEventListener("click", handleRedirect);
        }

        if (detectionCheckButton) {
            detectionCheckButton.addEventListener("click", handleRedirect);
        }

        function handleRedirect(event) {
            event.preventDefault();

            var selectedItem = document.getElementById("Item").value;
            var userRole = document.getElementById("userRole").value;
            var athleteID = 10;

            if (userRole === "Athlete") {
                athleteID = document.querySelector('input[name="AthleteID"]').value;
            } else if (userRole === "Coach") {
                athleteID = document.getElementById("AthletesID").value;
            }

            if (!selectedItem || selectedItem === "請選擇訓練項目") {
                alert("請先選擇訓練項目");
                return;
            }

            if (!athleteID) {
                alert("請先選擇運動員!!");
                return;
            }

            var today = new Date().toISOString().split('T')[0];

            var data = utf8ToBase64(JSON.stringify({
                item: selectedItem,
                AthleteID: athleteID,
                date: today
            }));

            window.location.href = "/Record/SessionRecord?data=" + encodeURIComponent(data);
        }

        function utf8ToBase64(str) {
            var utf8Bytes = new TextEncoder().encode(str);
            return btoa(String.fromCharCode.apply(null, utf8Bytes));
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        toggleButtonVisibility();

        const initialSelectedSport = document.getElementById('Item').value;
        document.getElementById('selectedSportItem').textContent = initialSelectedSport !== "請選擇訓練項目" ? initialSelectedSport : "";

        const calculateButtons = [
            { id: 'btn_calculate', dateInputName: 'TrainingDate' },
            { id: 'btn_calculate_archery', dateInputName: 'archeryDate' },
            { id: 'btn_calculate_shooting', dateInputName: 'shootingDate' }
        ];

        calculateButtons.forEach(button => {
            document.getElementById(button.id).addEventListener('click', function (event) {
                const dateInput = document.querySelector(`input[name="${button.dateInputName}"]`);
                if (!checkDateInput(dateInput)) {
                    event.preventDefault();
                }
            });
        });
            
        const link = document.querySelector('a.btn.btn-outline-primary');
        if (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();

                const selectedItem = document.getElementById('Item').value;
                const userRole = document.getElementById('userRole').value;

                let athleteID;
                if (userRole === "Athlete") {
                    athleteID = document.querySelector('input[name="AthleteID"]').value;
                } else if (userRole === "Coach") {
                    athleteID = document.getElementById('AthletesID').value;
                }
            });
        }

        const userRole = '@Session["UserRole"]';
        const athleteDiv = document.getElementById("identity_Athletes");
        if (userRole === "Athlete") {
            athleteDiv.style.display = "none";
        }

        const selectElement = document.getElementById('Item');
        selectElement.addEventListener('change', function () {
            if (this.value === "檢測系統") {
                switchToDetectionSystem();
            } else {
                document.getElementById('Detection_Sys').style.display = "none";
                document.getElementById('trainingMonitoring').style.display = "block";
                toggleButtonVisibility();

                const detectionItem = document.getElementById('DeteItem');
                if (detectionItem) {
                    detectionItem.style.display = "none";
                }
            }

            document.getElementById('selectedSportItem').textContent = this.value !== "請選擇訓練項目" ? this.value : "";
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const sportItemSelect = document.getElementById('DeteItem');
        const rollerSkillSection = document.getElementById('RollerSkillSection');

        sportItemSelect.addEventListener('change', function () {
            const selectedValue = this.value.trim();
            if (selectedValue === '滑輪溜冰') {
                rollerSkillSection.style.display = 'block';
            } else {
                rollerSkillSection.style.display = 'none';
            }
        });
    });

    function updateStatusActions(selectElement) {
        const selectedStatus = selectElement.value;
        const StatusDropdown = selectElement.closest('tr').querySelector('[name="psychologicalStatus"]');

        $.ajax({
            url: '@Url.Action("GetFellStatuS", "PhyFit")',
            type: 'GET',
            data: { StatusItem: selectedStatus }
        }).done(function (data) {
            StatusDropdown.innerHTML = '';

            const defaultStatusOption = document.createElement("option");
            defaultStatusOption.text = "請選擇感受";
            StatusDropdown.add(defaultStatusOption);

            data.forEach(function (item) {
                const option = document.createElement("option");
                option.value = item;
                option.text = item;
                StatusDropdown.add(option);
            });
        }).fail(function () {
            alert('請稍後再試。');
        });
    }
</script>
</body>
</html>