@{
    Layout = "~/Views/Shared/_PhyFitness.cshtml";
    var rpeList = ViewBag.RPEScore as IEnumerable<dynamic>;
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/SessionMonitoring.js"></script>
    <script src="~/Scripts/RPE_Modal.js"></script> @*自覺量表彈跳視窗*@
    <script src="~/Scripts/TLCaculate.js"></script> @*運動訓練量計算*@
    <script src="~/Scripts/DistanceSys.js"></script> @*檢測系統*@
    <script src="~/Scripts/SaveGeneralRecord.js"></script> @*一般訓練記錄存檔*@
    <script src="~/Scripts/SaveArcheryRecord.js"></script> @*射箭訓練記錄存檔*@
    <script src="~/Scripts/SaveShootingRecord.js"></script> @*射擊訓練記錄存檔*@
    <script src="~/Scripts/SaveDetecRecord.js"></script>
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
    <link href="~/css/dashboardStyle.css" rel="stylesheet" />
</head>
<body>
    <form id="generalTrainingForm">
        <div style="display: flex; align-items: center; gap: 20px;">
            <div style="margin-bottom: 20px;">
                <label for="Item">訓練監控項目</label>
                <select id="Item" name="TrainingItem" style="border: 2px solid #000;">
                    @*class="form-control"*@
                    <option>請選擇訓練項目</option>
                    @foreach (var item in ViewBag.MonitoringItems)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>

            <div id="identityCoach" style="display: flex; align-items: center;">
                <label>教練：@ViewBag.CoachName</label>
                <input type="hidden" name="CoachName" id="coachName" value="@ViewBag.CoachName" />
            </div>
            <div id="identity_Athletes" style="display: flex; align-items: center;">
                <label for="AthletesName">運動員：</label>
                <select id="AthletesName" name="AthleteID">
                    <option value="">請選擇</option>
                    @foreach (var athlete in ViewBag.Athletes)
                    {
                        @*<option value="@athlete.ID">@athlete.AthleteName</option>*@
                        <option value="@athlete.AthleteName">@athlete.AthleteName</option>
                    }
                </select>
            </div>
        </div>
        <!-- 訓練衝量監控區塊 -->
        <div class="content" id="trainingMonitoring">
            <h2>一般訓練衝量監控</h2>

            @*<div class="form-group" style="display: inline-block; max-width: 100%;">
                    <label for="TrainingItem" style="font-size: 24px;" title="請選擇課程名稱">請選擇課程名稱</label>
                    <select class="form-control" id="TrainingItem" name="TrainingItem" onchange="updateTableHeaders()" style="width: auto; min-width: 200px; display: inline-block;">
                        <option value="">請選擇課程名稱</option>
                        @foreach (var item in ViewBag.Description)
                        {
                            <option value="@item" style="width: 50px;">@item</option>
                        }
                    </select>
                </div>*@
            @Html.Partial("_SpecialTechnical")
            <table id="trainingMonitoringTable">
                <thead id="tableHeaders">
                </thead>
                <tbody id="trainingRows">
                </tbody>
            </table>
            @*<div class="form-group" style="width:450px;">
                    <label for="dailyTL" title="每日運動訓練量(TL)">每日運動負荷(TL):</label>
                    <input type="text" align="left" id="dailyTL" class="form-control" name="DailyTL" placeholder="每日運動負荷" readonly>
                </div>*@
            <div style="margin-top: 20px;">
                <button id="btn_calculate" class="btn btn-info" title="計算">計算</button>
                <div id="RPEModalTraining" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div id="RPEsurveyContent">
                            @Html.Partial("_RPESurvey")
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" id="btn-rainingMonitoring" title="存檔">存檔</button>
                <div id="recordModalGeneral" class="modal">
                    <div class="modal-content">
                        <span class="close" id="closeRecordModal">&times;</span>
                        <div id="recordModalBody">
                            <!-- 這裡會被 AJAX 載入內容 -->
                        </div>
                    </div>
                </div>
                <!-- 觸發 Modal 的按鈕 -->
                <div type="button" class="btn btn-outline-primary openRecordModalGeneral">查看訓練紀錄</div>
            </div>
        </div>
    </form>

    <!-- 射箭訓練衝量監控區塊 -->
    <div class="content" id="archeryMonitoring">
        <h2>射箭訓練衝量監控</h2>
        <form>
            <table id="archeryMonitoringTable">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>磅數</th>
                        <th>箭數</th>
                        <th>自覺費力程度</th>
                        <th>每次運動負荷</th>
                        <th>每日運動負荷(TL)</th>
                        <th>增減欄位</th>
                    </tr>
                </thead>
                <tbody id="ArcherytrainingRows">
                    <tr class="Archerytraining-group">
                        <td><input type="datetime-local" class="form-control" name="archeryDate" /></td>
                        <td>
                            <input type="text" class="form-control" name="Pounds" placeholder="磅數">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="Arrows" placeholder="箭數">
                        </td>
                        <td>
                            <input type="text" class="form-control rpeInput" name="RPE_ArcheryDescription" style="width:200px;" readonly />
                            <input type="hidden" name="RPEArchery" />
                            <button type="button" class="btn btn-info openRPEModalArchery">運動自覺量表</button>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="SessionArcheryTL" placeholder="每次運動負荷" readonly>
                        </td>
                        <td>
                            <input type="text" align="left" style="width:200px;" id="dailyTLArchery" class="form-control" name="ArcheryDailyTL" placeholder="每日運動負荷(TL)" readonly>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary add-row-archery">+</button>
                            <button type="button" class="btn btn-danger remove-row-archery">-</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            @*<div class="form-group" style="width:450px;">
                    <label for="dailyTL">每日運動負荷(TL):</label>
                    <input type="text" align="left" id="dailyTLArchery" class="form-control" name="ArcheryDailyTL" placeholder="每日運動負荷" readonly>
                </div>*@
            <div style="margin-top: 20px;">
                <button id="btn_calculate_archery" class="btn btn-info" title="計算">計算</button>
                <div id="RPEModalArchery" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div id="RPEsurveyContent">
                            @Html.Partial("_RPESurvey")
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" id="btn-archeryMonitoring" title="存檔">存檔</button>
            </div>
        </form>
    </div>

    <!-- 射擊訓練衝量監控區塊 -->
    <div class="content" id="shootingMonitoring">
        <h2>射擊訓練衝量監控</h2>
        <form id="shootingForm">
            <table id="shootingMonitoringTable">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>項目</th>
                        <th>子彈數</th>
                        <th>自覺費力程度</th>
                        <th>每次運動負荷(TL)</th>
                        <th>增減欄位</th>
                    </tr>
                </thead>
                <tbody id="ShootingtrainingRows">
                    <tr class="Shootingtraining-group">
                        <td><input type="datetime-local" class="form-control" name="shootingDate" /></td>
                        <td>
                            <select class="form-control" name="GunItem">
                                <option>請選擇項目</option>
                                @foreach (var gun in ViewBag.GunItem)
                                {
                                    <option>@gun</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="Bullet" placeholder="子彈數">
                        </td>
                        <td>
                            <input type="text" class="form-control rpeInput" name="RPE_shootingDescription" style="width:200px;" readonly />
                            <input type="hidden" name="RPEshooting" />
                            <button type="button" class="btn btn-info openRPEModalShooting">運動自覺量表</button>
                        </td>
                        <td>
                            <input type="text" align="left" style="width:200px;" id="dailyTLShooting" class="form-control" name="ShootingDailyTL" placeholder="每日運動負荷(TL)" readonly>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary add-row-shooting">+</button>
                            <button type="button" class="btn btn-danger remove-row-shooting">-</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            @*<div class="form-group" style="width:450px;">
                    <label for="dailyTL">每日運動負荷(TL):</label>
                    <input type="text" align="left" id="dailyTLShooting" class="form-control" name="ShootingDailyTL" placeholder="每日運動負荷" readonly>
                </div>*@
            <div style="margin-top: 20px;">
                <button id="btn_calculate_shooting" class="btn btn-info" title="計算">計算</button>
                <div id="RPEModalShooting" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div id="RPEsurveyContent">
                            @Html.Partial("_RPESurvey")
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" id="btn-shootingMonitoring" title="存檔">存檔</button>
            </div>
        </form>
    </div>

    @*檢測系統*@
    @using (Html.BeginForm("SaveTrackFieldRecord", "PhyFit", FormMethod.Post))
    {
        <div class="training-section" id="Detection_Sys">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2>檢測系統訓練詳情:<span id="selectedSportItem" style="font-size:1.5rem;"></span></h2>
                    </div>
                    <div class="card-body">

                            <div class="form-group">
                                <label>日期：</label>
                                <input id="DetectionDateTime" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Dete">項目：</label>
                                <select class="form-control" id="Dete">
                                    <option>有/無氧代謝能力測定</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="DeteItem">運動項目：</label>
                                <select class="form-control" id="DeteItem">
                                    <option value="">請選擇運動項目</option>
                                    @foreach (var SI in ViewBag.DetectionSport)
                                    {
                                        <option>@SI</option>
                                    }
                                </select>
                            </div>
                            <hr />
                            <div class="result-section">
                                <label for="Result">檢測結果：</label>
                                <div class="mb-3">
                                    <label for="CriticalSpeed" style="font-size: 20px; display: block;">臨界速度 (km/h)</label>
                                    <input type="text" class="form-control form-control-sm" id="CriticalSpeed">
                                </div>
                                <div class="mb-3">
                                    <label for="AnaerobicPower" style="font-size: 20px; display: block;">最大無氧做功 (m)</label>
                                    <input type="text" class="form-control form-control-sm" id="AnaerobicPower">
                                </div>
                            </div>

                            <!-- 訓練量區域 -->
                            <div class="training-volume-section">
                                <label for="TrainingVol" style="font-size: 20px;">訓練量</label>
                                <input type="text" class="form-control" id="TrainingVol" placeholder="">
                            </div>

                            <!-- 速耐力間歇跑訓練處方區域 -->
                            <div class="speed-prescription-section">
                                <label for="SpeedPres" style="font-size: 20px;">速耐力間歇跑訓練處方</label>
                                <input type="text" class="form-control" id="SpeedPres" placeholder="">
                            </div>
                            <input type="hidden" id="CriticalSpeed" name="criticalSpeed" />
                            <input type="hidden" id="AnaerobicPower" name="anaerobicPower" />

                    </div>
                </div>
                <button class="btn btn-success" name="btn_Detec" id="btn_Detec">存檔</button>
            </div>
            <div id="distanceDetails" style="margin-top: -500px;"></div>
            @*@using (Html.BeginForm("RedirectToPrescription", "PhyFit", FormMethod.Post))
                {
                    <button type="submit" class="btn btn-primary" style="margin-top: 100px;" id="btn_Prescription">訓練處方系統</button>
                }*@
        </div>
    }
        @*檢測系統-訓練內容-Partial view呈現*@
        @*<div id="distanceDetails" style="margin-top: -200px;"></div>*@
        @*檢測系統-訓練內容-Partial view呈現*@

        <div class="resultTable" id="sessionRPEresult">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3>session RPE指標計算結果: <span id="selectedItem" style="font-size: 24px; text-decoration: underline;"></span></h3>
                    </div>
                    <div class="card-body">
                        <form>
                            @*<div class="form-group d-flex align-items-center justify-content-between">
                                    <label>運動訓練量</label>
                                    <div class="form-group-inline d-flex align-items-center">
                                        <input type="text" class="form-control" id="calculationResult" placeholder="計算結果將顯示在這裡" readonly>
                                    </div>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between">
                                    <label>每日運動訓練量</label>
                                    <div class="form-group-inline d-flex align-items-center">
                                        <input type="text" class="form-control" id="DailyResult" placeholder="計算結果將顯示在這裡" readonly>
                                    </div>
                                </div>*@
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="每週運動訓練量為每週(通常是7 天)所有的運動訓練量之加總">每週運動訓練量</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="WeeklyResult" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="一週內每日訓練的一致性，其計算方式為當週運動訓練量的日平均(mean load)除以當週TL的標準差(standard deviation)">訓練同質性</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="TrainingHomogeneity" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="整週訓練的整體壓力，計算方式為當週TL乘上當週TM">訓練張力值</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="TensionValue" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="當週與上一週之運動訓練量的絕對差異值">週間訓練變化</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="WeeklyTrainingChanges" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <label title="ACWR，當週TL(acuteworkload) 除以過往連續四週TL平均值(chroni cworkload)所得之數值">短期：長期訓練量比值</label>
                                <div class="form-group-inline d-flex align-items-center">
                                    <input type="text" class="form-control" id="ShortLongRatio" placeholder="計算結果將顯示在這裡" readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
    function updateTechnicalActions(selectElement) {
    var selectedTechnical = selectElement.value;
    var actionDropdown = selectElement.closest('tr').querySelector('[name="SpecialTechName"]');

    $.ajax({
        url: '@Url.Action("GetSpecialTechnicalActions", "PhyFit")',
        type: 'GET',
        data: { technicalItem: selectedTechnical },
        success: function (data) {
            actionDropdown.innerHTML = '';

            // Add default option
            var defaultOption = document.createElement("option");
            defaultOption.text = "請選擇動作名稱";
            actionDropdown.add(defaultOption);

            // Populate the dropdown with received data
            data.forEach(function (item) {
                var option = document.createElement("option");
                option.value = item;
                option.text = item;
                actionDropdown.add(option);
            });
        }
    });
        }
        document.addEventListener('DOMContentLoaded', function () {
            // 處理一般訓練的計算按鈕
            document.getElementById('btn_calculate').addEventListener('click', function (event) {
                var dateInput = document.querySelector('input[name="TrainingDate"]');

                if (!dateInput || !dateInput.value) {
                    event.preventDefault(); // 防止表單提交
                    Swal.fire({
                        icon: 'warning',
                        title: '請先選擇日期',
                        text: '計算前請選擇日期，否則無法進行計算。',
                        confirmButtonText: '了解'
                    });
                }
            });

            // 處理射箭訓練的計算按鈕
            document.getElementById('btn_calculate_archery').addEventListener('click', function (event) {
                var ArcherydateInput = document.querySelector('input[name="archeryDate"]');

                if (!ArcherydateInput || !ArcherydateInput.value) {
                    event.preventDefault(); // 防止表單提交
                    Swal.fire({
                        icon: 'warning',
                        title: '請先選擇日期',
                        text: '計算前請選擇日期，否則無法進行計算。',
                        confirmButtonText: '了解'
                    });
                }
            });

            // 處理射擊訓練的計算按鈕
            document.getElementById('btn_calculate_shooting').addEventListener('click', function (event) {
                var ShootingdateInput = document.querySelector('input[name="shootingDate"]');

                if (!ShootingdateInput || !ShootingdateInput.value) {
                    event.preventDefault(); // 防止表單提交
                    Swal.fire({
                        icon: 'warning',
                        title: '請先選擇日期',
                        text: '計算前請選擇日期，否則無法進行計算。',
                        confirmButtonText: '了解'
                    });
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var itemSelect = document.getElementById('Item');
            var selectedItemSpan = document.getElementById('selectedItem');

            itemSelect.addEventListener('change', function () {
                var selectedItem = itemSelect.options[itemSelect.selectedIndex].text;
                selectedItemSpan.textContent = selectedItem;
            });
        });

            flatpickr("#DetectionDateTime", {
                enableTime: true,
                dateFormat: "Y-m-d H:i", //日期時間格式
                time_24hr: true //使用24小時制
            });
        </script>
    </body>
</html>